@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

:root {

    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.18);
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: azure;
    color: var(--body);
    width: 100%;
}

.card:hover {
    transform: translateX(5px);
    transition: .5s all ease;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: azure;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.navbar span {
    color: green;
    font-size: 2rem;
    font-weight: 700;
}

.navbar-brand {
    font-size: 2rem;
    color: black;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand:hover {
    color: green;
    transition: .5s all ease;
}

.navbar .nav-item .nav-link {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    /* margin-left: 15px; */
    letter-spacing: 1px;
    transition: .5s all ease;
}

.navbar .nav-item .nav-link:hover {
    color: white;
    background-color: green;
    border-radius: 5px;
    transition: .5s all ease;

}

#home{
    background-image: url(./images/home-bg.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    overflow: hidden;


}

#home::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;

}

.hero h2 {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    color: white;
    letter-spacing: 1px;
}

.hero p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
}

#btn1 {
    width: 200px;
    padding: 5px 40px;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s all ease;
    border: 2px solid green;
    color: white;

}

#btn1:hover {
    width: 250px;
    background-color: green;
    transition: 0.4s all ease-in
}

#services {
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
}

#serve h2 {
    font-size: 50px;
    color: green;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;


}

#card-effect .card-body {
    box-shadow: var(--box-shadow);
    padding: 20px;
}

#card-effect .card-body h2 {
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 550;
    letter-spacing: 1;

}

#card-effect .card-body p {
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1;
}

.icon-box {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
}

.price {
    font-size: 50px;
    color: green;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;

}

#pricing {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}

.card-body {
    box-shadow: var(--box-shadow);
}

.card-title {
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.5;
    font-weight: 550;
    cursor: pointer;
}
#team{
    overflow: hidden;
}

.card-title:hover {
    color: green;
    transition: 0.4s all ease-in;

}

.card-subtitle {
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.5;
    font-weight: 400;
    cursor: pointer;

}

.buy {
    display: flex;
    justify-content: space-between;
}

.star-rating {
    color: gold;
}

.check-mark h4 {
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}

.buy h4 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1px;
}

#btn2:hover {
    color: green;
    background-color: transparent;
    border: 2px solid green;
}

#btn5 {
    width: 200px;
    background-color: green;
    color: white;
    padding: 10px 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-family: 550;
    cursor: pointer;
    transition: .5s all ease;
}

#btn5:hover {
    width: 250px;
    transition: .5s all ease;
}

#headie {
    font-size: 50px;
    color: green;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
}

.sub-text h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1;
    font-family: 'Kanit', sans-serif;

}

.sub-text p {
    font-size: 16px;
    text-align: justify;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1;
}

.main-icon-text .box1 h2 {
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1;
}

.main-icon-text .box1 i {
    background-color: green;
    border-radius: 5px;
    padding: 10px;
}

#courses {
    margin-top: 100px;
    overflow: hidden;
}
#about{
    margin-top: 50px;
    margin-bottom: 100px;
}

.social-icon {
    color: black;
    cursor: pointer;
}

.social-icon i {
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.social-icon i:hover {
    color: black;
    transition: .5s all ease;
    background-color: white;
}

#awards {
    margin-top: 100px;
    margin-bottom: 100px;
}

#award-items i {
    background-color: green;
    padding: 10px;
    border-radius: 10px;

}

#revew img {
    border-radius: 50%;
}

.review {
    margin-bottom: 100px;
}

#bground {
    background-image: url(./images/bg2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;


}

#bground::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;

}

#bground h2 {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    letter-spacing: 1;
}

#bground p {
    color: white;
    text-align: justify;
    line-height: 1;
}

#cont {
    font-family: 'Kanit', sans-serif;
}

#cont h4 {
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 1;
    color: green;
}

#btn7 {
    background-color: green;
    color: white;
    transition: .5s all ease;
    font-family: 'Kanit', sans-serif;

}

#btn7:hover {
    border: 2px solid green;
    color: green;
    background-color: transparent;
    transition: .5s all ease;

}
form input.form-control{
    height: 56px;
   }
   form .form-control{
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0,0, 0.02);
   }


#foot h6 {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    letter-spacing: 1.5;
}

#foot span {
    color: green;
}

@media(max-width:768px) {
    .hero h2 {
        font-size: 50px;
        font-weight: 600;
    }

    .hero p {
        font-size: 15px;
        font-weight: 300;
    }

    #bground {
        height: 50vh;
    }
    #headie {
        font-size: 40px;
        font-weight: 500;
    }
    
}
@media(max-width:425px) {
    .hero h2 {
        font-size: 35px;
        font-weight: 550;
    }
    .hero p {
        font-size: 12px;
        font-weight: 100;
    }
    #bground h2 {
        font-size: 1.5rem;
    }
    #bground p {
        font-size: 14px;
        width: 60%;
    }
    #bground {
        height: 60vh;
    }
    #headie {
        font-size: 30px;
    }

}
@media(max-width:320px) {
    .hero h2 {
        font-size: 35px;
        font-weight: 500;
    }
    .hero p {
        font-size: 12px;
    }
    #headie {
        font-size: 25px;
    }



}